@import 'styles/variables.scss';
@import 'styles/layout.scss';
@import 'styles/inputs.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&subset=latin-ext');

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.2px;
}

.app {
  text-align: center;
}

.app-logo {
  height: 80px;
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.app-header {
  padding: 3.5em;
  color: #222;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  color: black;
  margin-top: -1.19em;
  margin-left: 3px;
}

.intro-desc {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto
}

#data-input, #export__textarea {
  font-size: 0.925rem;
  padding: 15px 18px;
  border: 3px solid #222;
  letter-spacing: 0.2px;
  line-height: 1.6;
  font-family: 'Work Sans', sans-serif;
}

.data-input-label {
  text-align: left;
}

.form-label, .select-graph {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.select-graph {
  margin: 4em 0 2em;
}

.graph__container {
  margin-bottom: 4em;
}

.app-intro {
  font-size: large;
}

.intro-desc {
  font-size: 1.5rem;
}

.data-input-label {
  text-align: left;
}


