@import 'styles/variables.scss';
@import 'styles/layout.scss';
@import 'styles/inputs.scss';
@import 'styles/taco.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&subset=latin-ext');

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -0.2px;
}

.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  padding: 3.5em;
  color: #222;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  color: black;
  margin-top: -1.19em;
  margin-left: 3px;
}

.intro-desc {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto
}

#data-input, #export__textarea {
  font-size: 0.925rem;
  padding: 15px 18px;
  border: 3px solid #222;
  letter-spacing: 0.2px;
  line-height: 1.6;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
}

.form-label, .select-graph {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.form-label .label-sub {
  color: $gray;
  font-size: .9em;
  font-weight: normal;
  margin: .25em 0 1em;

  a {
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid #222;

    &:hover {
     border-bottom: 2px solid #000;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
    }
  }
}

.select-graph {
  margin: 4em 0 2em;
}

.graph__container {
  margin-bottom: 4em;
}

.data-input-label {
  text-align: left;
}

.input-detection {
  margin: 0.5em 0;
  text-align: center;
}

.data-facts {
  font-weight: 600;
  background: #FFF466;
  padding: 0.25em 0.5em;
}

.button__copy {
  background: #222;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  height:48px;
  cursor: pointer;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.button__copy:hover {
  background: white;
  color: black;
  border: 3px solid black;
  font-weight: 600;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.button__copy--clicked {
  background: white;
  color: black;
  border: 3px solid black;
}

.app-footer {
  text-align: center;
  font-size: 0.95rem;
  margin: 4em 0 6em;
}